.notification {
  flex-basis: 350px;
  max-width: 350px;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  padding: 10px;
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
  &-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }
  &-header {
    display: flex;
    padding-bottom: 10px;
    position: relative;
    .icon-box {
      width: 50px;
      height: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 10px;
      background: #000000;
      i {
        font-size: 1.33333em;
      }
    }
    .toggle {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      right: 0;
      span {
        width: 50px;
        height: 4px;
        background: #e5e5e5;
        border-radius: 2px;
        margin-bottom: 3px;
        cursor: pointer;
      }
    }
    .btn {
      box-shadow: none;
      margin: 0;
    }
  }
  .collapse {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: visibility 0s 0.5s, opacity 0.5s linear !important;
  }
  .toggle {
    span {
      &:hover {
        background-color: #555;
      }
    }
  }
  &-message {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
  }
}
