.stepper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  .steps-container {
    height: 100%;
    flex-direction: row;
    .steps {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      overflow-x: auto;
      justify-content: space-between !important;
      .step {
        display: table-cell;
        text-align: center;
        position: relative;
        min-width: 150px;
        max-width: 150px;
        .step-title {
          display: flex;
          align-items: center;
          margin-left: 5px;
          padding: 10px 0;
          opacity: 0.8;
          .step-number {
            font-size: 30px;
            font-weight: 600;
          }
          .step-text {
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            margin-left: 10px;
            text-align: start;
            max-width: 150px;
            word-wrap: break-word;
          }
        }
        .step-indicator {
          display: flex;
          width: fit-content;
          .step-divider {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            span {
              margin: 0 2px;
              border-radius: 6px;
              transition: 0.4;
              opacity: 0.8;
              background-color: #9f9d9d;
            }
            span:nth-child(1) {
              width: 6px;
              height: 6px;
            }
            span:nth-child(2) {
              width: 50px;
              height: 6px;
            }
          }
          .step-node {
            position: relative;
            cursor: pointer;
            width: 45px;
            height: 45px;
            font-size: 16px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            transition: width 0.3;
            align-items: center;
            color: #fff;
            background-color: #9f9d9d;
          }
        }
        &.prev {
          .step-node {
            background-color: #333333;
            color: #fff;
            border: 2px solid #cccccc;
          }
          .step-title {
            opacity: 1 !important;
          }
          .step-divider {
            span:nth-child(1) {
              background: #333333 !important;
            }
            span:nth-child(2) {
              background: #333333 !important;
            }
          }
        }
        &.active {
          .step-node {
            background-color: #fff;
            border: 2px solid #333333;
            color: #333;
          }
          .step-title {
            opacity: 1 !important;
          }
          .step-divider {
            span:nth-child(1) {
              background: #333333 !important;
            }
          }
        }
      }
    }
  }
  .stepper-content-container {
    display: flex;
    width: 100%;
    .stepper-content {
      width: 100%;
      padding: 15px 10px;
      display: none;
      &.show {
        display: block;
      }
    }
  }
}

.fade-in {
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
