// 1. Colors
$primary-color: #3b82f6;
$secondary-color: #6366f1;
$success-color: #22c55e;
$warning-color: #ffe975;
$danger-color: #ef4444;
$white-color: #ffffff;
$warning-dark-color: #66512c;
$dark-color: #111827;
$info-color: #06b6d4;
$light-color: #ffffff;

$primary-color100: #dbeafe;
$secondary-color100: #e0e7ff;
$success-color100: #dcfce7;
$danger-color100: #fee2e2;
$warning-color100: #fffde6;
$dark-color100: #f3f4f6;
$info-color100: #ecfeff;

$primary-hover-color: #2563eb;
$secondary-hover-color: #4f46e5;
$success-hover-color: #16a34a;
$warning-hover-color: #facc15;
$danger-hover-color: #dc2626;
$white-hover-color: #ffffff;
$dark-hover-color: #000000;
$info-hover-color: #0891b2;
$light-hover-color: #eeeeee;
