<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordion</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/cdb.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="../js/bootstrap.min.js" defer></script>
  </head>
  <body>
    <div class="blockcode">
      <div class="header">Accordion</div>
      <div class="example">
        <div role="cdb-accordion" class="cdb-accordion">
          <div class="accordion">
            <h2 class="accordion-header">Accordion 1</h2>
            <div class="accordion-panel">
              Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
              amet, consectetur adipisicing elit. Distinctio quia error dicta
              molestias vel ab cum incidunt. Nam saepe, quae soluta maiores quas
              illo nulla? Est id placeat iusto sunt?
            </div>
          </div>
          <div class="accordion">
            <h2 class="accordion-header">Accordion 2</h2>
            <div class="accordion-panel">
              Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem Lorem
              ipsum, dolor sit amet consectetur adipisicing elit. Quos rem a,
              quo dignissimos ullam modi sunt quibusdam, aut enim sed non
              similique vel nemo, labore doloremque quisquam expedita
              voluptatum. Hic?
            </div>
          </div>

          <div class="accordion">
            <h2 class="accordion-header">Accordion 3</h2>
            <div class="accordion-panel">
              Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Aspernatur hic dicta laboriosam
              culpa totam quae, voluptate at doloremque, eaque porro ipsam
              suscipit exercitationem vitae, repellendus ex distinctio autem
              velit eos.
            </div>
          </div>
          <div class="accordion">
            <h2 class="accordion-header">Accordion 4</h2>
            <div class="accordion-panel">
              Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
              amet consectetur, adipisicing elit. Reprehenderit, rerum. Eligendi
              est atque, ipsum error nostrum nihil? Atque voluptatum eaque
              veniam culpa doloremque explicabo accusamus, mollitia, facilis
              odio qui consequuntur.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="blockcode">
      <div class="header">Accordion No Icon</div>
      <div class="example">
        <div role="cdb-accordion" class="cdb-accordion">
          <div class="accordion">
            <h2 class="accordion-header no-icon">Accordion 1</h2>
            <div class="accordion-panel">
              Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
              amet, consectetur adipisicing elit. Distinctio quia error dicta
              molestias vel ab cum incidunt. Nam saepe, quae soluta maiores quas
              illo nulla? Est id placeat iusto sunt?
            </div>
          </div>
          <div class="accordion">
            <h2 class="accordion-header no-icon">Accordion 2</h2>
            <div class="accordion-panel">
              Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem Lorem
              ipsum, dolor sit amet consectetur adipisicing elit. Quos rem a,
              quo dignissimos ullam modi sunt quibusdam, aut enim sed non
              similique vel nemo, labore doloremque quisquam expedita
              voluptatum. Hic?
            </div>
          </div>

          <div class="accordion">
            <h2 class="accordion-header no-icon">Accordion 3</h2>
            <div class="accordion-panel">
              Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Aspernatur hic dicta laboriosam
              culpa totam quae, voluptate at doloremque, eaque porro ipsam
              suscipit exercitationem vitae, repellendus ex distinctio autem
              velit eos.
            </div>
          </div>
          <div class="accordion">
            <h2 class="accordion-header no-icon">Accordion 4</h2>
            <div class="accordion-panel">
              Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
              amet consectetur, adipisicing elit. Reprehenderit, rerum. Eligendi
              est atque, ipsum error nostrum nihil? Atque voluptatum eaque
              veniam culpa doloremque explicabo accusamus, mollitia, facilis
              odio qui consequuntur.
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/cdb.js"></script>
    <script>
      [].slice
        .call(document.querySelectorAll("[role=cdb-accordion]"))
        .forEach((progress) => {
          new CDB.Accordion(progress);
        });
    </script>
  </body>
</html>
