// 1. Colors
$primary-color: #276ef1;
$secondary-color: #7356bf;
$success-color: #05944f;
$warning-color: #ffe975;
$danger-color: #e11900;
$white-color: #ffffff;
$warning-dark-color: #66512c;
$dark-color: #000000;
$info-color: #17a2b8;
$light-color: #eeeeee;

$primary-hover-color: #276ef1bd;
$secondary-hover-color: #7356bfbd;
$success-hover-color: #05944fbd;
$warning-hover-color: #ffe975bd;
$danger-hover-color: #e11900bd;
$white-hover-color: #ffffffd5;
$dark-hover-color: #000000bd;
$info-hover-color: #17a2b8bd;
$light-hover-color: #eeeeeebd;
