@import "abstracts/variables";

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.blockcode {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .blockcode {
    margin: 20px 0;
  }
  .header {
    font-size: 20px;
    margin: 10px 0;
  }
  .description {
    font-size: 15px;
    margin: 10px 0;
  }
  .example {
    border: 1px solid #f4f4f4;
    margin: 0 20px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & > * {
      margin: 15px;
    }
  }
  .example2 {
    border: 1px solid #f4f4f4;
    margin: 0 20px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > * {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 15px 0;
    }
  }
  .example3 {
    border: 1px solid #f4f4f4;
    margin: 0 20px;
    display: block;
    padding: 20px;
  }
  .example4 {
    border: 1px solid #f4f4f4;
    margin: 0 20px;
    display: block;
    padding: 20px;
    height: 300px;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
  }
}
@import "components/accordion";
@import "components/alert";
@import "components/animation";
@import "components/autocomplete";
@import "components/badge";
@import "components/box";
@import "components/breadcrumb";
@import "components/button";
@import "components/button-group";
@import "components/button-toolbar";
@import "components/card";
@import "components/checkbox";
@import "components/chip";
@import "components/data-tables";
@import "components/date-picker";
@import "components/dropdown";
@import "components/icon";
@import "components/iframe";
@import "components/input";
@import "components/inputgroup";
@import "components/list-group";
@import "components/mask";
@import "components/modal";
@import "components/navbar";
@import "components/notification";
@import "components/multi-select";
@import "components/pagination";
@import "components/panel";
@import "components/popover";
@import "components/progress";
@import "components/radio";
@import "components/rating";
@import "components/select";
@import "components/select2";
@import "components/sidebar";
@import "components/slider";
@import "components/spinner";
@import "components/stepper";
@import "components/switch";
@import "components/tab";
@import "components/tables";
@import "components/time-picker";
@import "abstracts/utils";
